@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  background-color: #fffdf6;
  font-family: 'Noto Sans KR', sans-serif;
}

.App {
  max-width: 480px;
  height: 100vh;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fffdf6;
}

.tab-navigator {
  position: fixed;
  bottom: 0;
  display: flex;
  max-width: 480px;
  height: 3.5rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  border-top: #dddddd 1px solid;
  padding-bottom: 10px;
}

/* Styling links inside the navigator */
.tab-navigator a {
  text-decoration: none;
  color: black;
}

.page {
  margin: 16px;
  padding-bottom: 3.5rem;
}

*:focus {
  outline: none;
}
